body {
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

.style {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
}

h1 {
    font-size: 60px;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.link-button {
    background-color: white;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 30px;

}

.donate {
    text-align: center;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 30%;
    font-size: 30px;
    padding-left: 5%;
    background-color: rgba(128, 128, 128, 0.112);
    margin-left: 10px;
    border-radius: 5px;
}

.tomato-color {
    color: tomato;
}

.input-box {
    margin-top: 5%;
    margin-left: 50%;
}

.secend-link-button {
    background-color: white;
    margin: 40px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 30px;
}